.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
    color: #222;
}

.deleteBtn {
    background-color: #d32f2f;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #b71c1c;
}