.list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    /* Bir satır dolunca alt satıra geç */
    gap: 30px;
    /* Kartlar arası boşluk */
    justify-content: flex-start;
    max-width: 900px;
    /* İstersen genişlik sınırı */
}

.item {
    list-style: none;
}